<div>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="row">

    <div class="col">
      <label for="book-title" class="form-label">Titel:</label>  
      <input id="book-title" class="form-control" type="text" formControlName="title" />
    </div>
 
    <div class="col">
      <label for="book-year" class="form-label">Jahr:</label>  
      <input id="book-year" class="form-control" type="text" formControlName="year" />
      @if (year?.invalid && year?.hasError('invalidYear')) {  
        <div>{{yearErrorWarning}}</div>              }
    </div>

    <div class="col">
        <label for="book-author" class="form-label">Autor*in:</label>  
        <input id="book-author" class="form-control" type="text" formControlName="author" />
    </div>

    <div class="col">
        <label for="book-genre" class="form-label">Genre:</label>       
        <select id="book-genre" class="form-select" formControlName="genre">        
          @for (genre of genres; track genre) {
              <option [ngValue]="genre">{{genre}}</option>
          }
        </select>
    </div>

    
    <div class="col">
        <label for="book-keywords">Stichwörter</label>
        <select multiple class="form-select" id="book-keywords" formControlName="keywords">
            @for (kw of keywords; track kw) {
                <option [ngValue]="kw">{{kw}}</option>
            }
        </select>
    </div>
    

    <div class="col">
        <label for="book-abstract" class="form-label">Kurzzusammenfassung:</label>  
        <textarea id="book-abstract" class="form-control" type="text" formControlName="shortSummary"></textarea>
    </div>

    <div class="col">
        <label for="book-summary" class="form-label">Inhalt:</label>  
        <textarea id="book-summary" class="form-control" type="text" formControlName="summary"></textarea>
    </div>  
    
    <div class="col">
        <label for="book-rating" class="form-label">Bewertung (1-5):</label>  
        <input id="book-rating" class="form-control" type="number" formControlName="rating" min="1" max="5" />
    </div>

    <div class="col">
      <button type="submit" class="btn btn-primary" [disabled]="!bookForm.valid">Ok</button>
    </div>

    </div>

</form>
</div>
